
html
{
  height: 100%;
}

body
{
  height: 100%;
}

#tabuleiro
{
  width: 900px;
  height: 900px;
}

.casa
{
  float: left;
  width: 300px;
  height: 300px;
  border: 10px solid white;
  border-radius: 90px;
  background-color: #AABBAA;
  padding-top: 40px;

  font-family: sans-serif;
  font-weight: bold;
  font-size: 240px;
  color: white;

  -moz-user-select: none;
  cursor: pointer;
}

.centro
{
  display: flex;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
}